
$background-color: #f1f1f1;

$white: #fff;
$black: #000;
$light-gray: #E4E4E4;
$dark-gray: #333;
$light-green: #00ca80;
$green: #04AA6D;
$hover-green: #038857;

$red: #B71121;
$dark-red: #880915;

$issue-color-bg: $red;
$issue-color-bg-hover: $dark-red;

$sizes: (
    "xs":320px,
    "sm":576px,
    "md":768px,
    "lg":992px,
    "xl":1200px
);


@mixin media($minmax, $media) {
    
    @each $size,
    $resolution in $sizes {
        @if $media == $size {
            @media only screen and (#{$minmax}-width: $resolution) {
                @content;
            }
        }
    }
}
