@import "../constants.scss";


ul.horizontal {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: $gray;

    li {
        float: left;

        a {
            display: inline-block;
            color: $white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;

            @include media("max", "sm") {
                font-size: 12px;
            }

            &.active {
                background-color: $green;
            }

            &.active:hover {
                background-color: $hover-green;
            }
        }
    }
}
