{% extends 'base.html' %}


{% block content %}
    <div class="container">
        {% if context %}
            <div class="text-field">
                <input class="text-field__input" type="text" name="code-input" id="code-input" placeholder="XXXX" value="{{context['code']}}">
                <label class="text-field__label" for="code-input">Нажмите кнопку "скачать" для начала скачивания</label>
            </div>
        {% else %}
            <div class="text-field">
                <label class="text-field__label" for="code-input">Отсканируйте сгенерированный QR-code или введите 4 символа указанные в терминале</label>
                <input class="text-field__input" type="text" name="code-input" id="code-input" placeholder="XXXX">
            </div>
        {% endif %}
        <button class="btn" id="download-button" data-url="{{ url_for('download_controller', code='0') }}">Скачать</button>
    </div>
{% endblock %}
