@import "../constants.scss";


ul.horizontal {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: $dark-gray;

    li {
        display: flex;
        float: left;
        text-align: center;

        &.tab {
            cursor: pointer;

            &.issue {
                float: right;
                background-color: $issue-color-bg;
    
                &:hover {
                    background-color: $issue-color-bg-hover;
                }
            }    

            &:hover {
                background-color: $light-green;
            }

            &.active {
                background-color: $green;
            }

            &.active:hover {
                background-color: $hover-green;
            }
        }

        a {
            color: $white;
            text-decoration: none;
            padding: 14px 16px;

            @include media("max", "sm") {
                font-size: 12px;
                padding: 12px 14px;
            }
        }
    }
}
