<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="docsearch:language" content="en">
    <title>PIPE</title>
    <link href="{{ url_for('static', filename='assets/images/favicon.ico') }}" rel="shortcut icon" type="image/x-icon">
    <link href="{{ url_for('static', filename='assets/dist/bundle.css') }}" rel="stylesheet" type="text/css">
    
    <script type="text/javascript" src="{{ url_for('static', filename='assets/vendor/js/jquery-3.6.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='assets/vendor/js/sweetalert.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='assets/dist/bundle.js') }}" async></script>
</head>
<body>
    {% include './components/navbar.html' %}
    {% block content %}
    {% endblock %}
</body>
</html>
